<table align="center" style="border-spacing: 0px; width: 100%;">
	<tr>
		<td>
			<div id="ds_div">
							<font rwr='1' size='4' style='font-family:Arial'><font rwr="1" size="4" style="font-family:Arial"><font rwr="1" size="4" style="font-family:Arial"><font rwr="1" size="4" style="font-family:Arial"><font rwr="1" size="4" style="font-family:Arial"><font rwr="1" size="4" style="font-family:Arial"><table align="center" style="border-spacing: 0px; width: 100%;">
<tbody><tr>
<td>
<div id="ds_div">
<font rwr="1" style="font-family:Arial"><font rwr="1" style="font-family: Arial;"><font rwr="1" style="font-family: Arial;"><font rwr="1" style="font-family: Arial;"><font rwr="1" style="font-family: Arial;"><font rwr="1" style="font-family: Arial;"><font rwr="1" style="font-family: Arial;"><font rwr="1" style="font-family: Arial;"><font rwr="1" style="font-family: Arial;"><title>Mrs. Rose Design</title>
<!-- Loading third party fonts -->
<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Loading main css file -->
<link rel="stylesheet" href="style10lu.css">
<nav class="mobile-menu" style="font-size: large;">
<label for="show-menu" class="show-menu"><span>Menu</span><div class="lines"></div></label>
<input type="checkbox" id="show-menu">
<ul id="menu">
<li><a href="http://www.ebay.co.uk/usr/mrsrose">Home</a></li>
<li>	<a href="http://www.ebay.co.uk/sch/mrsrose/m.html?_nkw=&amp;_armrs=1&amp;_ipg=&amp;_from=">Store</a>	</li>
<li>	<a href="http://feedback.ebay.co.uk/ws/eBayISAPI.dll?ViewFeedback2&amp;userid=mrsrose&amp;ftab=AllFeedback&amp;myworld=true&amp;rt=nc">See Feedback</a>	</li>
<li><a href="http://my.ebay.co.uk/ws/eBayISAPI.dll?AcceptSavedSeller&amp;_trksid=p4340.l2561&amp;rt=nc&amp;ru=http%3A%2F%2Fcgi.ebay.co.uk%2Fws%2FeBayISAPI.dll%3FViewItemNext%26item%3D252760868994&amp;mode=0&amp;ssPageName=STRK:MEFS:ADDVI&amp;sellerid=mrsrose&amp;preference=0">Follow</a></li>
<li><a href="http://contact.ebay.co.uk/ws/eBayISAPI.dll?FindAnswers&amp;requested=mrsrose&amp;frm=284&amp;ssPageName=STRK%3AMEFSXS%3ACS&amp;_trksid=p2053788.m1543.l2652">Contact</a></li>
</ul>
</nav>
<div id="site-content"><font size="4">
&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
</font><div class="container">
<header class="site-header">
<a href="../index.html" id="branding">
<div class="logo-copy">
<h1 class="site-title" ;="" style="font-family: &quot;Audiowide Regular&quot;;"><font size="5" color="#c3b7a1">Your Company Name</font></h1>
<small class="site-description" style="font-family: audiowide;"><font size="4" color="#c3b7a1">your slogan</font></small>
</div>
</a>
<!-- Default snippet for navigation --><font size="4">
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
</font><div class="mobile-navigation"></div>
</header>
<main class="main-content" style="font-size: large;">
<div class="page">
<div id="captioned-gallery">

<div class="pic_gallery">
<div class="pic_gal pic_gal_5x1">
<div class="pic_gal_cells">
<div class="pic_lg pic_main">
<div>
<img src="http://i32.photobucket.com/albums/d34/mrsrose/mboror1457337230853_zpsfotbx1vf.jpg"> &nbsp; &nbsp; <!--**  Enter FIRST PHOTO  **-->
</div>
</div>
<span class="pic_set"><div class="pic_sm">
<div>
<img src="http://i32.photobucket.com/albums/d34/mrsrose/mboror1457337230853_zpsfotbx1vf.jpg"> &nbsp; &nbsp; &nbsp;<!--**  Enter FIRST PHOTO  **-->
</div>
</div>
<div class="pic_lg">
<div>
<img src="http://i32.photobucket.com/albums/d34/mrsrose/mboror1457337230853_zpsfotbx1vf.jpg"> &nbsp; &nbsp; &nbsp;<!--**  Enter FIRST PHOTO  **-->
</div>
</div> </span> <span class="pic_set"> <div class="pic_sm">
<div>
<img src="http://i32.photobucket.com/albums/d34/mrsrose/qiydbe1457337232581_zpsjzgrqku1.jpg"> &nbsp; &nbsp; &nbsp;<!--**  Enter SECOND PHOTO  **-->
</div>
</div>
<div class="pic_lg"><div>
<img src="http://i32.photobucket.com/albums/d34/mrsrose/qiydbe1457337232581_zpsjzgrqku1.jpg"> &nbsp; &nbsp; &nbsp;<!--**  Enter SECOND PHOTO  **-->
</div>
</div> </span>
<span class="pic_set"> <div class="pic_sm">
<div>
<img src="http://i32.photobucket.com/albums/d34/mrsrose/monros1457337227987%201_zpspsh1sce1.jpg"> &nbsp; &nbsp; &nbsp;<!--**  Enter 3. PHOTO  **-->
</div>
</div>
<div class="pic_lg"><div>
<img src="http://i32.photobucket.com/albums/d34/mrsrose/monros1457337227987%201_zpspsh1sce1.jpg"> &nbsp; &nbsp; &nbsp;<!--**  Enter 3. PHOTO  **-->
</div>
</div> </span><span class="pic_set"> <div class="pic_sm">
<div>
<img src="http://i32.photobucket.com/albums/d34/mrsrose/ybrrkk1457337229453_zpsn5y7vvgj.jpg"> &nbsp; &nbsp; &nbsp;<!--**  Enter 4. PHOTO  **-->
</div>
</div>
<div class="pic_lg"><div>
<img src="http://i32.photobucket.com/albums/d34/mrsrose/ybrrkk1457337229453_zpsn5y7vvgj.jpg"> &nbsp; &nbsp; &nbsp;<!--**  Enter 4. PHOTO  **-->
</div>
</div> </span><span class="pic_set"> <div class="pic_sm">
<div>
<img src="http://i32.photobucket.com/albums/d34/mrsrose/jennsp1457337234697_zpsluogzqvi.jpg"> &nbsp; &nbsp; &nbsp;<!--**  Enter 5. PHOTO  **-->
</div>
</div>
<div class="pic_lg"><div>
<img src="http://i32.photobucket.com/albums/d34/mrsrose/jennsp1457337234697_zpsluogzqvi.jpg"> &nbsp; &nbsp; &nbsp;<!--**  Enter 5. PHOTO  **-->
</div>
</div> </span><span class="pic_set"> <div class="pic_sm">
<div>
<img src="http://i32.photobucket.com/albums/d34/mrsrose/ehrksd1464145028059_zpsi7sp9erh.jpg"> &nbsp; &nbsp; &nbsp;<!--**  Enter 6. PHOTO  **-->
</div>
</div>
<div class="pic_lg"><div>
<img src="http://i32.photobucket.com/albums/d34/mrsrose/ehrksd1464145028059_zpsi7sp9erh.jpg"> &nbsp; &nbsp; &nbsp;<!--**  Enter 6. PHOTO  **-->
</div>
</div> </span><span class="pic_set"> <div class="pic_sm">
<div>
<img src="http://i32.photobucket.com/albums/d34/mrsrose/ciyblq1464145050494_zps67audvbk.jpg"> &nbsp; &nbsp; &nbsp;<!--**  Enter 7. PHOTO  **-->
</div>
</div>
<div class="pic_lg"><div>
<img src="http://i32.photobucket.com/albums/d34/mrsrose/ciyblq1464145050494_zps67audvbk.jpg"> &nbsp; &nbsp; &nbsp;<!--**  Enter 7. PHOTO  **-->
</div>
</div> </span><span class="pic_set"> <div class="pic_sm">
<div><img src="http://i32.photobucket.com/albums/d34/mrsrose/clfqpg1471935395970_zpsecokx6uo.jpg"> &nbsp; &nbsp; &nbsp;<!--**  Enter 8. PHOTO  **-->
</div>
</div>
<div class="pic_lg">
<div>
<img src="http://i32.photobucket.com/albums/d34/mrsrose/clfqpg1471935395970_zpsecokx6uo.jpg"> &nbsp; &nbsp; &nbsp;<!--**  Enter 8. PHOTO  **-->
</div>
</div> </span> <span class="pic_set"> <div class="pic_sm">
<div>
<img src="http://i32.photobucket.com/albums/d34/mrsrose/faiobz1471935398645_zpspg8qrz0l.jpg"> &nbsp; &nbsp; &nbsp;<!--**  Enter 9. PHOTO  **-->
</div>
</div>
<div class="pic_lg">
<div>
<img src="http://i32.photobucket.com/albums/d34/mrsrose/faiobz1471935398645_zpspg8qrz0l.jpg"> &nbsp; &nbsp; &nbsp;<!--**  Enter 9. PHOTO  **-->
</div>
</div> </span> <span class="pic_set"><div class="pic_sm">
<div>
<img src="http://i32.photobucket.com/albums/d34/mrsrose/cmejgn1464145030382_zpsrqreibqi.jpg"> &nbsp; &nbsp; &nbsp; &nbsp; <!--**  Enter 10. PHOTO  **-->
</div>
</div>
<div class="pic_lg"><div>&nbsp; <img src="http://i32.photobucket.com/albums/d34/mrsrose/cmejgn1464145030382_zpsrqreibqi.jpg"> &nbsp; &nbsp; <!--**  Enter 10. PHOTO  **-->
</div>
</div> </span>
</div></div></div><br /><br /><br /><br />
<figure class="pull-left">
</figure>
<div class="entry-content">
<h3 class="entry-title"><div align="center" ;="" style="color:#FFBB0E"><span style="color: rgb(255, 113, 92); font-family: Audiowide; font-size: 26.6667px;"><br></span></div><div align="center" ;="" style="color:#FFBB0E"><span style="color: rgb(255, 113, 92); font-family: Audiowide; font-size: 22px;">You are purchasing an eBay new 2017 Compliant Mobile Responsive Dynamic Listing Template</span></div></h3>
<p></p><div align="justify"><h2 class="section-title" ;="" regular;="" color:#fb8800"="" style="margin-top: 0px; margin-bottom: 50px; font-size: 3em; font-weight: 300; text-align: center; color: rgb(118, 128, 137);"><p class="MsoNormal" style="margin-bottom: 0.0001pt; font-size: large; text-align: justify; line-height: normal;"><span style="font-size: 14pt; font-family: Audiowide; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">WHY SELECT ME? 9 Pover Packed reasons:</span><span style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; font-size: large; text-align: justify; line-height: normal;"><span style="font-size: 14pt; font-family: Audiowide; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">Why Me&nbsp;</span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; font-size: large; text-align: justify; line-height: normal;"><span style="font-size: 14pt; font-family: Audiowide; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">*Wide selection Range</span><span style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; font-size: large; text-align: justify; line-height: normal;"><span style="font-size: 14pt; font-family: Audiowide; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">*100% SEO Friendly</span><span style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; font-size: large; text-align: justify; line-height: normal;"><span style="font-size: 14pt; font-family: Audiowide; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">*Installation is Free - No charges</span><span style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; font-size: large; text-align: justify; line-height: normal;"><span style="font-size: 14pt; font-family: Audiowide; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">*Compatible with eBay PolicyEasy HTML Source</span><span style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; font-size: large; text-align: justify; line-height: normal;"><span style="font-size: 14pt; font-family: Audiowide; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">*FREE Installation into your eBay Account if required.</span><span style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; font-size: large; text-align: justify; line-height: normal;"><span style="font-size: 14pt; font-family: Audiowide; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">*No Monthly Charges, No Hidden Cost</span><span style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; font-size: large; text-align: justify; line-height: normal;"><span style="font-size: 14pt; font-family: Audiowide; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">*Work on all eBay Stores, UK, USA, AU, EU etc</span><span style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; font-size: large; text-align: justify; line-height: normal;"><span style="font-size: 14pt; font-family: Audiowide; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">*Pure 100% HTML/CSS</span><span style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; font-size: large; text-align: justify; line-height: normal;"><span style="font-size: 14pt; font-family: Audiowide; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">*Image slider.</span><span style="font-size: 12pt; font-family: &quot;Times New Roman&quot;, serif; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><o:p></o:p></span></p><p class="MsoNormal" style="margin-bottom: 0.0001pt; font-size: large; text-align: justify; line-height: normal;"><span style="font-size: 14pt; font-family: Audiowide; color: rgb(155, 161, 166); background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><br></span></p>
</div>
</div>
<div class="feature-section">
<div class="row">
<div class="col-md-3">
<div class="feature">
<img src="http://i32.photobucket.com/albums/d34/mrsrose/shipping_zpsdh0566pz.png" width="75px" class="feature-icon">
<h3 class="feature-title">Shipping</h3>
<p></p><div align="justify">Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incididunt labore dolore magna aliqua.</div><p></p>
</div>
</div>
<div class="col-md-3">
<div class="feature">
<img src="http://i32.photobucket.com/albums/d34/mrsrose/payment_zpsljlyt6hm.png" width="75px" =""="" class="feature-icon">
<h3 class="feature-title">Payment</h3>
<p></p><div align="justify">Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incididunt labore dolore magna aliqua.</div><p></p>
</div>
</div>
<div class="col-md-3">
<div class="feature">
<img src="http://i32.photobucket.com/albums/d34/mrsrose/return_zps4e1euobd.png" width="75px" =""="" class="feature-icon">
<h3 class="feature-title">Return</h3>
<p></p><div align="justify">Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incididunt labore dolore magna aliqua.</div><p></p>
</div>
</div>
<div class="col-md-3">
<div class="feature">
<img src="http://i32.photobucket.com/albums/d34/mrsrose/feedback_zpsxgwpir77.png" width="75px" class="feature-icon">
<h3 class="feature-title">Feedback</h3>
<p></p><div align="justify">Lorem ipsum dolor amet consectetur adipiscing elit do eiusmod tempor incididunt labore dolore magna aliqua.</div><p></p>
</div>
</div>
</div>
</div> <!-- .feature-section -->
<div class="quote-slider">
<ul class="slides">
<li>
<blockquote>
<p style="font-family:'Tangerine', cursive"><font color="#ff715c"><font size="20">Please don't be fooled by cheap imitations. &nbsp;Mrs. Rose is the original designers of these items and we pride ourselves on originality, quality and great customer service.</font></p>

</blockquote>
</li>
</ul>
</div> <!-- .quote-slider -->
</main>
<footer class="site-footer" style="font-size: large;">
<p class="copy">Copyright 2017 designed by <a href="http://www.ebay.co.uk/usr/mrsrose">Mrs. Rose</a> All rights reserved</p>
<div class="social-links">
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-google-plus"></i></a>
<a href="#"><i class="fa fa-pinterest"></i></a>
</div>
</footer>
</div>
</div>
</font></font></font></font></font></font></font></font></font></div>
</td>
</tr>
</tbody></table><span id="closeHtml"></span></font></font></font></font></font></font></div>
						</td>
	</tr>
</table><span id="closeHtml"></span>
